@import '../../styles/mixins';

.container{
  .title{
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    color: #020105;
  }
  .journals{
    margin-top: 24px;
    @include grid(4);
    @include tablets {
      @include grid(3);
    }
    @include smallTablets {
      @include grid(2);
    }
    @include mobile {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .more{
    @include moreSection;
  }
}