@import '../../styles/mixins';

.circle{
  border: 1px solid #DADADA;
  position: absolute;
  border-radius: 1000px;
  width: 370px;
  height: 370px;
  @include flexCenter;
  .content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    .title {
      font-weight: 600;
      font-size: 45px;
      text-align: center;
      color: #5D5D5F;
      @media(min-width: 1900px){
        font-size: 84px;
      }
    }
    .active {
      color: rgba(60, 75, 220, 1);
    }
    .subtitle {
      font-weight: 500;
      font-size: 21px;
      text-align: center;
      color: #5D5D5F;
      @media(min-width: 1900px) {
        font-size: 32px;
      }
    }
  }
  @media(min-width: 1900px){
    width: 456px;
    height: 456px;
  }
}

.circle:nth-child(1){
  left: 0;
}
.circle:nth-child(2){
  left: 23%;
  @media(min-width: 1900px){
    left: 24%;
  }
}
.circle:nth-child(3){
  left: 46%;
  @media(min-width: 1900px) {
    left: 48%;
  }
}
.circle:nth-child(4){
  left: 69%;
  @media(min-width: 1900px) {
    left: 72%;
  }
}

.circle.active {
  border-color: rgba(60, 75, 220, 1);
}