@import '../../styles/mixins';

@mixin size($s){
  width: $s;
  height: $s;
}
.circle{
  border: 1px solid #DADADA;
  position: absolute;
  border-radius: 1000px;
  @include size(370px);
  @include flexCenter;
  .content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    .title {
      font-weight: 600;
      font-size: 45px;
      text-align: center;
      color: #5D5D5F;
      @include bigScreens{
        font-size: 84px;
      }
    }
    .active {
      color: rgba(60, 75, 220, 1);
    }
    .subtitle {
      font-weight: 500;
      font-size: 21px;
      text-align: center;
      color: #5D5D5F;
      @include bigScreens {
        font-size: 32px;
      }
    }
  }
  @include bigScreens{
    width: 456px;
    height: 456px;
  }
  @include tablets{
    @include size(350px);
  }  
  @include mobile{
    @include size(300px)
  }
  @include smallMobile{
    @include size(250px)
  }
}

.circle:nth-child(1){
  left: 0;
  @include lowEndDevices{
    left: 0;
    margin: 0 50% 0 30%;
    top: 0;
  }
  @include mobile{
    margin: 0 10%;
  }
}
.circle:nth-child(2){
  left: 23%;
  @include bigScreens{
    left: 24%;
  }
  @include lowEndDevices {
    left: 0;
    margin: 0 50% 0 30%;
    top: 50%;
  }
  @include mobile {
    margin: 0 10%;
  }
}
.circle:nth-child(3){
  left: 46%;
  @include bigScreens {
    left: 48%;
  }
  @include lowEndDevices {
    left: 0;
    margin: 0 50% 0 30%;
    top: 100%;
  }
    @include mobile {
      margin: 0 10%;
    }
}
.circle:nth-child(4){
  left: 69%;
  @include bigScreens {
    left: 72%;
  }
  @include lowEndDevices {
    left: 0;
    margin: 0 50% 0 30%;
    top: 150%;
  }
    @include mobile {
      margin: 0 10%;
    }
}

.circle.active {
  border-color: rgba(60, 75, 220, 1);
}