$small-width: 480px; //mobile phones
$medium-width: 768px; //tablets
$large-width: 1024px; //small laptops

$mobilePhones: 480px;
$tabletMin: 768px;
$tabletMax: 1024px;
$smallLaptops: 1280px;
$bigScreen: 1900px;

@mixin mobile {
  @media (max-width: $mobilePhones) {
    @content;
  }
}

@mixin tablets {
  @media (min-width: $tabletMin) and (max-width: $tabletMax) {
    @content;
  }
}
@mixin lowEndDevices {
  @media (max-width: $tabletMax) {
    @content;
  }
}

@mixin smallLaptops {
  @media (min-width: #{$tabletMax+1}) and (max-width: $smallLaptops) {
    @content;
  }
}

@mixin desktopAndTablet {
  @media (min-width: #{$mobilePhones+1}) {
    @content;
  }
}

@mixin desktopOnly {
  @media (min-width: #{$smallLaptops+1}) {
    @content;
  }
}
@mixin bigScreens {
  @media (min-width: $bigScreen) {
    @content;
  }
}

@mixin dontShowOnMobile {
  @include mobile {
    display: none;
  }
}

@mixin flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flexCol {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@mixin grid($n:4){
  display: grid;
  grid-template-columns: repeat($n, 1fr);
}

@mixin moreSection{
  @include flexCenter();
  margin-top: 48px;

  .moreBtn {
    @include flexCenter();
    background: none;
    padding: 16px 32px;
    gap: 8px;
    width: 194px;
    height: 56px;
    border: 1px solid #3C4BDC;
    border-radius: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #3C4BDC;
    cursor: pointer;
  }
}