@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --max-container-width: 1200px;
}

*{
  box-sizing: border-box;
}

html, body{
  font-family: 'Montserrat', sans-serif;
}

.container{
  width: 100%;
  background: #F6F8F9;
  padding: 40px 0;
}

.wrapper{
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media(min-width: 1900px){
  .wrapper{
    width: 1700px;
  }
}