@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './mixins';

:root{
  --max-container-width: 1200px;
}

*{
  box-sizing: border-box;
}

html, body{
  font-family: 'Montserrat', sans-serif;
}

.container{
  width: 100%;
  background: #F6F8F9;
  padding: 40px 0;
}

.wrapper{
  margin: 0 auto;
  width: 1300px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@include bigScreens{
  .wrapper {
    width: 1700px;
  }
}

@include lowEndDevices{
  .wrapper {
    width: 100%;
    gap: 30px;
  }
}

@include tablets{
  .container{
    padding: 30px 40px;
  }
}
@include mobile{
  .container{
    padding: 20px 20px;
  }
}
