@import '../../styles/mixins';

.container{
  background: #FFFFFF;
  border-radius: 24px;
  @include flexCenter();
  .searchContainer{
    flex: 4;
    padding: 0;
    margin: 0;
  }
  .buttonContainer {
      flex: 1;
      height: 58px;
      border: 1px solid #EBEBEB;
      border-radius: 0px 8px 8px 0px;
      @include flexCenter();
      @include mobile{
        padding: 10px;
      }
      .btn {
        cursor: pointer;
        border: none;
        color: #fff;
        @include flexCenter();
        padding: 12px 18px;
        gap: 8px;
        width: 228px;
        height: 39px;
        background: #3C4BDC;
        border-radius: 46px;
        @include bigScreens{
          font-size: 16px;
        }
        @include mobile {
          width: 100%;
        }
      }
    }
}